@import url("https://fonts.googleapis.com/css2?family=Gabriela&family=Roboto+Slab");

/* Basic reset */
*, *::after, *::before {
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* Since browser default font-size is 16px*/
  /* Set it to 10px to make converting px to rem easier. */
  /* Use a percentage so that if a user changes the font size */
  /* on their browser, or zooms the font sizes, padding  */
  /* and margins adjust accordingly. */
  font-size: 62.5%;
}

body {
  /* Inheritable properties*/
  font-family: "Gabriela";
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #504a50;
  
  /* Non-inheritable*/
  padding: 3rem;
}

.header {
    display: flex;
    flex-direction: row;
  }
  .headerLogoBox {
    flex-grow: 1;
  }
  .headerLogoBox {
    flex-grow: 1;
  }
  .headerMenu {
    display: flex;
    flex-direction: row;
    line-height: 7.5rem;
    text-transform: uppercase;
  }
  .headerMenu li {
    list-style-type: none;
    margin-right: 3rem;
  }
  .headerMenu a {
    color: inherit;
  }
  