@import url("https://fonts.googleapis.com/css2?family=Gabriela&family=Roboto+Slab");

/* Basic reset */
*,
*::after,
*::before {
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* Since browser default font-size is 16px*/
  /* Set it to 10px to make converting px to rem easier. */
  /* Use a percentage so that if a user changes the font size */
  /* on their browser, or zooms the font sizes, padding  */
  /* and margins adjust accordingly. */
  font-size: 62.5%;
}

body {
  /* Inheritable properties*/
  font-family: "Gabriela";
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #504a50;

  /* Non-inheritable*/
  padding: 3rem;
}

.utilMarginTopSmall {
  margin-top: 2rem;
}

.utilMarginBottomSmall {
  margin-bottom: 2rem;
}

.utilMarginBottomMedium {
  margin-bottom: 4rem;
}

.btn {
  text-transform: uppercase;
  display: inline-block;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  font-size: 1.6rem;
  background-color: #b7b6b5;
  color: #172726;
  border: 3px solid #172726;
  text-align: center;
  transition: all 0.2s;
}

.btn:hover {
  /* Make the button pop up => 3D effect */
  transform: translateY(-0.5rem);
  /* Box Shadow X Y Blur Colour*/
  box-shadow: 0 1rem 2rem rgba(23, 39, 38, 0.2);
}

.btn:active {
  color: #fffe87;
  background-color: #172726;
  /* Make the button appear to be pressed => 3D effect */
  transform: translateY(-0.1rem);
  /* Box Shadow X Y Blur Colour*/
  box-shadow: 0 1rem 2rem rgba(23, 39, 38, 0.2);
}

.btnCTA {
  background-color: #fffe87;
}

.btnCTASmall {
  padding: 1rem;
  font-size: 1.4rem;
}

.btnGhost {
  background-color: #bcc0c1;
}

.btnGhost:hover,
.btnGhost:active {
  color: #bcc0c1;
}

.btnTextOnly {
  border: none;
  background-color: transparent;
}

.btnTextOnly:hover,
.btnTextOnly:active {
  background-color: transparent;
  color: #848384;
}

.header {
  display: flex;
  flex-direction: row;
  background-color: #b7b6b5;
  position: relative;
  justify-content: flex-end;
}

.headerMenu {
  display: flex;
  flex-direction: row;
  line-height: 7.5rem;
  font-size: 110%;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.headerMenu li {
  list-style-type: none;
  margin-right: 3rem;
}

.headerMenu a {
  color: inherit;
}

.headerMenu a:hover {
  background-color: #848384;
}

.headerMenuActive {
  border-bottom: 1px solid #504a50;
}

/* ######### LOGO ###############*/
/* https://codepen.io/Tsankashvili/pen/zmPXGX */
.headerLogoBox {
  position: absolute;
  top: 3rem;
  left: 3rem;
}

.headerLogoBox *,
.headerLogoBox *::after,
.headerLogoBox *::before {
  position: absolute;
}

.hexagon {
  width: 15px;
  height: 7.5px;
}

.hexagon,
.hexagon span {
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.hexagon span {
  animation: hexagon 3s linear infinite;
}

.hexagon span:after,
.hexagon span:before {
  content: "";
  background-color: currentColor;
  width: 3px;
  height: 3px;
  border-radius: 50%;
}

.hexagon span:before {
  transform: translate(7.5px, -3.75px);
}

.hexagon span:after {
  transform: translate(-7.5px, 3.75px);
}

.hexagon:nth-child(1) {
  transform: rotate(-7.2deg) translate(28px);
  color: #81807e;
}

.hexagon:nth-child(1) span {
  animation-delay: -0.18s;
  background-color: rgba(129, 128, 126, 0.5);
}

.hexagon:nth-child(2) {
  transform: rotate(-14.4deg) translate(28px);
  color: #82807d;
}

.hexagon:nth-child(2) span {
  animation-delay: -0.36s;
  background-color: rgba(130, 128, 125, 0.5);
}

.hexagon:nth-child(3) {
  transform: rotate(-21.6deg) translate(28px);
  color: #83827c;
}

.hexagon:nth-child(3) span {
  animation-delay: -0.54s;
  background-color: rgba(131, 130, 124, 0.5);
}

.hexagon:nth-child(4) {
  transform: rotate(-28.8deg) translate(28px);
  color: #85837a;
}

.hexagon:nth-child(4) span {
  animation-delay: -0.72s;
  background-color: rgba(133, 131, 122, 0.5);
}

.hexagon:nth-child(5) {
  transform: rotate(-36deg) translate(28px);
  color: #868579;
}

.hexagon:nth-child(5) span {
  animation-delay: -0.9s;
  background-color: rgba(134, 133, 121, 0.5);
}

.hexagon:nth-child(6) {
  transform: rotate(-43.2deg) translate(28px);
  color: #878778;
}

.hexagon:nth-child(6) span {
  animation-delay: -1.08s;
  background-color: rgba(135, 135, 120, 0.5);
}

.hexagon:nth-child(7) {
  transform: rotate(-50.4deg) translate(28px);
  color: #868877;
}

.hexagon:nth-child(7) span {
  animation-delay: -1.26s;
  background-color: rgba(134, 136, 119, 0.5);
}

.hexagon:nth-child(8) {
  transform: rotate(-57.6deg) translate(28px);
  color: #858a75;
}

.hexagon:nth-child(8) span {
  animation-delay: -1.44s;
  background-color: rgba(133, 138, 117, 0.5);
}

.hexagon:nth-child(9) {
  transform: rotate(-64.8deg) translate(28px);
  color: #848b74;
}

.hexagon:nth-child(9) span {
  animation-delay: -1.62s;
  background-color: rgba(132, 139, 116, 0.5);
}

.hexagon:nth-child(10) {
  transform: rotate(-72deg) translate(28px);
  color: #828c73;
}

.hexagon:nth-child(10) span {
  animation-delay: -1.8s;
  background-color: rgba(130, 140, 115, 0.5);
}

.hexagon:nth-child(11) {
  transform: rotate(-79.2deg) translate(28px);
  color: #808e71;
}

.hexagon:nth-child(11) span {
  animation-delay: -1.98s;
  background-color: rgba(128, 142, 113, 0.5);
}

.hexagon:nth-child(12) {
  transform: rotate(-86.4deg) translate(28px);
  color: #7d8f70;
}

.hexagon:nth-child(12) span {
  animation-delay: -2.16s;
  background-color: rgba(125, 143, 112, 0.5);
}

.hexagon:nth-child(13) {
  transform: rotate(-93.6deg) translate(28px);
  color: #7a906f;
}

.hexagon:nth-child(13) span {
  animation-delay: -2.34s;
  background-color: rgba(122, 144, 111, 0.5);
}

.hexagon:nth-child(14) {
  transform: rotate(-100.8deg) translate(28px);
  color: #76916e;
}

.hexagon:nth-child(14) span {
  animation-delay: -2.52s;
  background-color: rgba(118, 145, 110, 0.5);
}

.hexagon:nth-child(15) {
  transform: rotate(-108deg) translate(28px);
  color: #72936c;
}

.hexagon:nth-child(15) span {
  animation-delay: -2.7s;
  background-color: rgba(114, 147, 108, 0.5);
}

.hexagon:nth-child(16) {
  transform: rotate(-115.2deg) translate(28px);
  color: #6e946b;
}

.hexagon:nth-child(16) span {
  animation-delay: -2.88s;
  background-color: rgba(110, 148, 107, 0.5);
}

.hexagon:nth-child(17) {
  transform: rotate(-122.4deg) translate(28px);
  color: #6a956b;
}

.hexagon:nth-child(17) span {
  animation-delay: -3.06s;
  background-color: rgba(106, 149, 107, 0.5);
}

.hexagon:nth-child(18) {
  transform: rotate(-129.6deg) translate(28px);
  color: #69966e;
}

.hexagon:nth-child(18) span {
  animation-delay: -3.24s;
  background-color: rgba(105, 150, 110, 0.5);
}

.hexagon:nth-child(19) {
  transform: rotate(-136.8deg) translate(28px);
  color: #679871;
}

.hexagon:nth-child(19) span {
  animation-delay: -3.42s;
  background-color: rgba(103, 152, 113, 0.5);
}

.hexagon:nth-child(20) {
  transform: rotate(-144deg) translate(28px);
  color: #669975;
}

.hexagon:nth-child(20) span {
  animation-delay: -3.6s;
  background-color: rgba(102, 153, 117, 0.5);
}

.hexagon:nth-child(21) {
  transform: rotate(-151.2deg) translate(28px);
  color: #659a7a;
}

.hexagon:nth-child(21) span {
  animation-delay: -3.78s;
  background-color: rgba(101, 154, 122, 0.5);
}

.hexagon:nth-child(22) {
  transform: rotate(-158.4deg) translate(28px);
  color: #639c7e;
}

.hexagon:nth-child(22) span {
  animation-delay: -3.96s;
  background-color: rgba(99, 156, 126, 0.5);
}

.hexagon:nth-child(23) {
  transform: rotate(-165.6deg) translate(28px);
  color: #629d84;
}

.hexagon:nth-child(23) span {
  animation-delay: -4.14s;
  background-color: rgba(98, 157, 132, 0.5);
}

.hexagon:nth-child(24) {
  transform: rotate(-172.8deg) translate(28px);
  color: #619e89;
}

.hexagon:nth-child(24) span {
  animation-delay: -4.32s;
  background-color: rgba(97, 158, 137, 0.5);
}

.hexagon:nth-child(25) {
  transform: rotate(-180deg) translate(28px);
  color: #609f8f;
}

.hexagon:nth-child(25) span {
  animation-delay: -4.5s;
  background-color: rgba(96, 159, 143, 0.5);
}

.hexagon:nth-child(26) {
  transform: rotate(-187.2deg) translate(28px);
  color: #5ea196;
}

.hexagon:nth-child(26) span {
  animation-delay: -4.68s;
  background-color: rgba(94, 161, 150, 0.5);
}

.hexagon:nth-child(27) {
  transform: rotate(-194.4deg) translate(28px);
  color: #5da29d;
}

.hexagon:nth-child(27) span {
  animation-delay: -4.86s;
  background-color: rgba(93, 162, 157, 0.5);
}

.hexagon:nth-child(28) {
  transform: rotate(-201.6deg) translate(28px);
  color: #5ca2a3;
}

.hexagon:nth-child(28) span {
  animation-delay: -5.04s;
  background-color: rgba(92, 162, 163, 0.5);
}

.hexagon:nth-child(29) {
  transform: rotate(-208.8deg) translate(28px);
  color: #5b9ca4;
}

.hexagon:nth-child(29) span {
  animation-delay: -5.22s;
  background-color: rgba(91, 156, 164, 0.5);
}

.hexagon:nth-child(30) {
  transform: rotate(-216deg) translate(28px);
  color: #5996a6;
}

.hexagon:nth-child(30) span {
  animation-delay: -5.4s;
  background-color: rgba(89, 150, 166, 0.5);
}

.hexagon:nth-child(31) {
  transform: rotate(-223.2deg) translate(28px);
  color: #5890a7;
}

.hexagon:nth-child(31) span {
  animation-delay: -5.58s;
  background-color: rgba(88, 144, 167, 0.5);
}

.hexagon:nth-child(32) {
  transform: rotate(-230.4deg) translate(28px);
  color: #5789a8;
}

.hexagon:nth-child(32) span {
  animation-delay: -5.76s;
  background-color: rgba(87, 137, 168, 0.5);
}

.hexagon:nth-child(33) {
  transform: rotate(-237.6deg) translate(28px);
  color: #5582aa;
}

.hexagon:nth-child(33) span {
  animation-delay: -5.94s;
  background-color: rgba(85, 130, 170, 0.5);
}

.hexagon:nth-child(34) {
  transform: rotate(-244.8deg) translate(28px);
  color: #547aab;
}

.hexagon:nth-child(34) span {
  animation-delay: -6.12s;
  background-color: rgba(84, 122, 171, 0.5);
}

.hexagon:nth-child(35) {
  transform: rotate(-252deg) translate(28px);
  color: #5372ac;
}

.hexagon:nth-child(35) span {
  animation-delay: -6.3s;
  background-color: rgba(83, 114, 172, 0.5);
}

.hexagon:nth-child(36) {
  transform: rotate(-259.2deg) translate(28px);
  color: #5269ad;
}

.hexagon:nth-child(36) span {
  animation-delay: -6.48s;
  background-color: rgba(82, 105, 173, 0.5);
}

.hexagon:nth-child(37) {
  transform: rotate(-266.4deg) translate(28px);
  color: #5060af;
}

.hexagon:nth-child(37) span {
  animation-delay: -6.66s;
  background-color: rgba(80, 96, 175, 0.5);
}

.hexagon:nth-child(38) {
  transform: rotate(-273.6deg) translate(28px);
  color: #4f57b0;
}

.hexagon:nth-child(38) span {
  animation-delay: -6.84s;
  background-color: rgba(79, 87, 176, 0.5);
}

.hexagon:nth-child(39) {
  transform: rotate(-280.8deg) translate(28px);
  color: #4f4eb1;
}

.hexagon:nth-child(39) span {
  animation-delay: -7.02s;
  background-color: rgba(79, 78, 177, 0.5);
}

.hexagon:nth-child(40) {
  transform: rotate(-288deg) translate(28px);
  color: #574db3;
}

.hexagon:nth-child(40) span {
  animation-delay: -7.2s;
  background-color: rgba(87, 77, 179, 0.5);
}

.hexagon:nth-child(41) {
  transform: rotate(-295.2deg) translate(28px);
  color: #5f4bb4;
}

.hexagon:nth-child(41) span {
  animation-delay: -7.38s;
  background-color: rgba(95, 75, 180, 0.5);
}

.hexagon:nth-child(42) {
  transform: rotate(-302.4deg) translate(28px);
  color: #684ab5;
}

.hexagon:nth-child(42) span {
  animation-delay: -7.56s;
  background-color: rgba(104, 74, 181, 0.5);
}

.hexagon:nth-child(43) {
  transform: rotate(-309.6deg) translate(28px);
  color: #7149b6;
}

.hexagon:nth-child(43) span {
  animation-delay: -7.74s;
  background-color: rgba(113, 73, 182, 0.5);
}

.hexagon:nth-child(44) {
  transform: rotate(-316.8deg) translate(28px);
  color: #7b47b8;
}

.hexagon:nth-child(44) span {
  animation-delay: -7.92s;
  background-color: rgba(123, 71, 184, 0.5);
}

.hexagon:nth-child(45) {
  transform: rotate(-324deg) translate(28px);
  color: #8546b9;
}

.hexagon:nth-child(45) span {
  animation-delay: -8.1s;
  background-color: rgba(133, 70, 185, 0.5);
}

.hexagon:nth-child(46) {
  transform: rotate(-331.2deg) translate(28px);
  color: #9045ba;
}

.hexagon:nth-child(46) span {
  animation-delay: -8.28s;
  background-color: rgba(144, 69, 186, 0.5);
}

.hexagon:nth-child(47) {
  transform: rotate(-338.4deg) translate(28px);
  color: #9b44bb;
}

.hexagon:nth-child(47) span {
  animation-delay: -8.46s;
  background-color: rgba(155, 68, 187, 0.5);
}

.hexagon:nth-child(48) {
  transform: rotate(-345.6deg) translate(28px);
  color: #a742bd;
}

.hexagon:nth-child(48) span {
  animation-delay: -8.64s;
  background-color: rgba(167, 66, 189, 0.5);
}

.hexagon:nth-child(49) {
  transform: rotate(-352.8deg) translate(28px);
  color: #b341be;
}

.hexagon:nth-child(49) span {
  animation-delay: -8.82s;
  background-color: rgba(179, 65, 190, 0.5);
}

.hexagon:nth-child(50) {
  transform: rotate(-360deg) translate(28px);
  color: #bf40bf;
}

.hexagon:nth-child(50) span {
  animation-delay: -9s;
  background-color: rgba(191, 64, 191, 0.5);
}

@keyframes hexagon {
  100% {
    transform: rotate(360deg);
  }
}

/* ####### END LOGO ############## */

.sectionSplash {
  /* Background colour is only here as a fall back */
  /* if the video does not show. */
  /* Need a low opacity (0.2) so that the video will */
  /* show through the background colour. */
  background-color: rgba(80, 74, 80, 0.2);
  width: 100%;
  height: 75vh;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative
}

.headingPrimary {
  color: #172726;
  text-transform: uppercase;
  margin-bottom: 1rem;
  flex-grow: 1;
}

.headingPrimaryTitle {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  text-shadow: -1px -1px 0 #fffe87, -1px 1px 0 #fffe87, 1px -1px 0 #fffe87, 1px 1px 0 #fffe87;
}

.headingPrimarySubtitle {
  display: block;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 1.75rem;
  /* Centre under the 'MathsBuddy' heading */
  transform: translateX(17%);
  text-shadow: -1px -1px 0 #fffe87, -1px 1px 0 #fffe87, 1px -1px 0 #fffe87, 1px 1px 0 #fffe87;
}

.bgVideo {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* Only works with 'position'ed elements */
  z-index: -1;
  opacity: .15;
  overflow: hidden;
}

.bgVideoContent {
  height: 100%;
  width: 100%;
  /* Similar to background-size: cover */
  /* Covers the entire area and maintains aspect ratio */
  /* Will clip the overflowing video edges */
  /* to fit (i.e. cover) the bgVideoContent element*/
  object-fit: cover;
}

/* This attribution is required for */
/* permission to show the video */
.attributionText {
  align-self: flex-start;
  color: #9d9d9d;
}

.attributionLink:link,
.attributionLink:visited {
  color: #9d9d9d;
}

/* Utility classes for common margins, padding, centring, etc. */
.utilCentreText {
  text-align: center;
}

.utilMarginTopSmall {
  margin-top: 2rem;
}

.utilMarginTopMedium {
  margin-top: 4rem;
}

.utilMarginTopBig {
  margin-top: 8rem;
}

.utilMarginBottomSmall {
  margin-bottom: 2rem;
}

.utilMarginBottomMedium {
  margin-bottom: 4rem;
}

.utilMarginBottomBig {
  margin-bottom: 8rem;
}

.mathsTopics {
  display: flex;
  flex-direction: row;
}

.mathsTopicsPaper {
  background-color: #b7b6b5;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.mathsTopicsPaper:first-child {
  margin-right: 4rem;
}

.mathsTopicsPaper:last-child {
  margin-left: 4rem;
}

.inspirationalQuote {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 1.8rem;
  background-image: url("../images/blackboard.jpg");
  background-size: cover;
  padding-top: 3rem;
  flex: 2;
  min-height: 50vh;
}

.inspirationalQuote p {
  color: #bcc0c1;
}

.inspirationalQuote .quality {
  text-shadow: -1px -1px 0 #fffe87, -1px 1px 0 #fffe87, 1px -1px 0 #fffe87, 1px 1px 0 #fffe87;
  font-size: 2rem;
  letter-spacing: .7rem;
}

.topicsHeading {
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
}

.videos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.videosVid {
  flex: 0 0 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.videosContent {
  width: 100%;
}

.breadcrumbNavigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.1rem;
  border-bottom: 1px solid #172726;
  margin-bottom: 1rem;
}

.breadcrumbLink:link,
.breadcrumbLink:visited {
  color: #172726;
}

.breadcrumbLink:hover {
  border-bottom: 1px solid #172726;
  background-color: #848384;
}

.examButton {
  display: flex;
  justify-content: flex-end;
}

.question {
  position: relative;
}

.questionTitle {
  position: absolute;
  top: 5rem;
  /*********************************************************/
  /* Trick to centre absolute positioned text */
  /* Move the left of the title to the centre of the screen */
  left: 50%;
  /* Then shift it back to the left by half of its own size */
  transform: translateX(-50%);
}

.contactForm {
  background-color: #b7b6b5;
  font-size: 2.5rem;
  padding: 2rem;
}

.contactForm>*:not(:last-child) {
  margin-bottom: 2rem;
}

.contactForm input,
.contactForm select,
.contactForm textArea {
  font-family: Roboto Slab;
  font-size: 2.5rem;
  font-weight: 400;
}

.contactForm textArea {
  width: 100%;
  height: 15rem;
}

.contactForm .contactButtons {
  display: flex;
  flex-direction: row;
}

.contactForm .contactButton {
  font-size: 1.5rem;
}

.contactForm #contactSubmit {
  /* Shift the buttons to the right of the submit button */
  /* over to the right hand side */
  margin-right: auto;
}

.footer {
  background-color: #172726;
  color: #bcc0c1;
  display: flex;
  justify-content: space-around;
  padding: 1.5rem 0;
}

/*https://stackoverflow.com/questions/44902771/flex-row-space-between-wrapped-items*/
.aboutSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 3rem;
  justify-content: space-evenly;
}

.aboutBox {
  width: 36rem;
  margin-right: 1.5rem;
  margin-bottom: 3rem;
  box-shadow: 0 1rem 3rem #172726;
  border-radius: 1rem;
  /* Photo is covering the border radius of the .aboutBox*/
  overflow: hidden;
}

.aboutPhoto {
  width: 100%;
}

.aboutText {
  padding: 0 3rem;
}

.question {
  position: relative;
}

.questionTitle {
  position: absolute;
  top: 5rem;
  /*********************************************************/
  /*https://stackoverflow.com/questions/8508275/how-to-center-a-position-absolute-element*/
  /* Trick to centre absolute positioned text */
  /* Move the left of the title to the centre of the screen */
  left: 50%;
  /* Then shift it back to the left by half of its own size */
  transform: translateX(-50%);
}

.questionImage {
  width: 100%;
}

@media only screen and (max-width: 800px) {
  .inspirationalQuote {
    background-image: url("../images/blackboard-small.jpg");
  }
}