@import url("https://fonts.googleapis.com/css2?family=Gabriela&family=Roboto+Slab");

/* Basic reset */
*, *::after, *::before {
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* Since browser default font-size is 16px*/
  /* Set it to 10px to make converting px to rem easier. */
  /* Use a percentage so that if a user changes the font size */
  /* on their browser, or zooms the font sizes, padding  */
  /* and margins adjust accordingly. */
  font-size: 62.5%;
}

body {
  /* Inheritable properties*/
  font-family: "Gabriela";
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #504a50;
  
  /* Non-inheritable*/
  padding: 3rem;
}

.utilMarginTopSmall {
  margin-top: 2rem;
}

.header {
    display: flex;
    flex-direction: row;
    background-color: #b7b6b5;
  }
  .headerLogoBox {
    flex-grow: 1;
  }
  .headerLogoBox {
    flex-grow: 1;
  }
  .headerMenu {
    display: flex;
    flex-direction: row;
    line-height: 7.5rem;
    font-size: 110%;
    letter-spacing: 4px;
    text-transform: uppercase;
  }
  .headerMenu li {
    list-style-type: none;
    margin-right: 3rem;
  }
  .headerMenu a {
    color: inherit;
  }
  .headerMenu a:hover {
    background-color: #848384;
  }
  .headerMenuActive {
    border-bottom: 1px solid #504a50;
  }
  
  .sectionSplash {
    width: 100%;
    height: 75vh;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .headingPrimary {
    color: #504a50;
    text-transform: uppercase;
    margin-bottom: 6rem;
    flex-grow: 1;
  }
  .headingPrimaryTitle {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
  }
  .headingPrimarySub {
    display: block;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 1.75rem;
    /* Align the second span (subtitle) with the centre of the first span (title) */
    transform: translateX(11%);
  }
  
